/** @format */
/* @import url("https://fonts.googleapis.com/css2?family=Inter&display=swap"); */

#extension {
   position: fixed;
   top: 20px;
   right: 20px;
   border: 1px solid #06d6a0;
   border-radius: 8px;
   box-shadow: rgba(0, 0, 0, 0.3) 0 0 40px 0;
   background-color: #fff;
   z-index: 9999;
   overflow-y: scroll;

   text-align: center;
   padding: 20px 0;
   color: #06d6a0;

   width: 360px;
   height: 600px;
}

h1 {
   color: red;
   /* font-family: "Inter", sans-serif; */
   font-size: 2rem;
}

button {
   color: #06d6a0;
   border: 1px solid #06d6a0;
   border-radius: 8px;
   padding: 20px;
   background-color: #fff;
}
